.main {
    display: flex;
    flex-direction: column;
    background-color: #ffcdd6;
    background-image: url("./../../../assets/frame3.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 515px;
  }

.contact-11 {
    margin-left: 419px;
    font-weight: 400;
    margin-top: 154px;
    color: #640000;
}

.contact-icon{
  width: 80%;
  margin-left: 71px;
}
.phone-1{
  width: 50%;
  float: left;
}
.mail.icon{
  display: flex;
  width: 50%;
  float: left;
}








































  /* @media screen and (min-width: 320px){
  .contactus_icons {
      margin: auto;
      width: 65%;
  }
}
  .contactus_connect {
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    font-size: 45px;
    color: #640000;
    word-spacing: 6px;
    font-weight: 500;
  } */



  /* media  */
  /* .contactus_icons {
    flex-direction: column;
    margin-left: 500px;
  }
  @media screen and (min-width: 780px) {
    .contactus_icons {
    margin: auto;
    width: 90%;
    }
  }
 */

